
# python stuff
__pycache__/
env/

# adafruit python repo
Adafruit_Python_MCP9808/

# db files
*.db
*.sqlite3
*-journal

# logs
*.log

# the live config
/config.py

# temporary/backup stuff
*.temp
*~

# node.js stuff
node_modules/
