
body {
  overflow-wrap: break-word;
}

.chart {
  width: 100%;
}

.big {
  font-size: 200%;
  font-weight: bold;
}

.white-text {
  color: #ffffff;
}

.chart svg .mg-active-datapoint {
  font-size: 120%;
  font-weight: bold;
}

.child-paragraphs-padding p {
  border-radius: 4px;
  padding: 10px;
}
